@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
:root {
    --light-green: #06bd5b;
    --background-color: #0c0917;
    --primary-color: #04944c;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

body {
    font-family: "Fredoka", sans-serif;
    min-height: 100vh;
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: repeating-radial-gradient(75% 75% at 50% 50%, rgb(0, 0, 0) 0%, rgb(8, 4, 29) 100%);
}

.header-main {
    /* background-color: red; */
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    
    animation: load-header cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
}

.nav-wrapper {
    height: 100%;
    width: 90%;
    max-width: 1300px;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: flex-end;
    gap: 50px;
    
}

.nav-logo h1 {
    font-size: 2.5em;
    font-weight: 300;
    color: var(--light-green);
    /* text-shadow: 0 0 10px var(--light-green) */
    text-shadow: 0 0 4px var(--light-green);
}

.nav-left .nav-links-left {
    color: white;
    display: flex;
    gap: 20px;
}

.nav-links-left .nav-link {
    padding: 10px;
    border: 2px solid transparent
}

.nav-link a {
    font-size: 1.25em;
    font-weight: 100;

}

.nav-link:hover{
    border-bottom: 2px solid white;
    transition: all .5s;
}

.nav-logo:hover h1 {
    cursor: pointer;
    text-shadow: 0 0 10px var(--light-green);
    transition: all 0.5s;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: center
}

.nav-right .nav-links-right {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center
}

.nav-login {
    background-color: var(--light-green);
    padding: 8px 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-login a {
    font-size: 1.25em;
    font-weight: 100;
}

.nav-login:hover{
    background-color: var(--light-green);
    transition: all 0.5s;
    cursor: pointer;
}

/* Main */
.main-section-wrapper {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
}

.main-section {
    height: 70vh;
    padding-top: 40px;
    position: relative;
    
    width: 1200px;
}

.main-section-hero {
    height: 100%;
    /* background-color: red; */
    position: relative;
    padding: 0px 150px;
    
}

.main-section .hero-header  {
    /* background-color: green; */
    position: absolute;
    width: 65%;
    height: 100%;
    background-image: radial-gradient( rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 50%,rgba(0,0,0, 0) 90%,rgba(0,0,0, 0) 100%);
    z-index: 2;
}

.hero-header h1 {
    font-size: 6em;
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    padding-top: 5%;
    color: var(--light-green);
    text-shadow: 0 0 7px var(--light-green);
    animation: load-hero-text cubic-bezier(0.165, 0.84, 0.44, 1) 2.5s;
    padding: 10px;
}

.hero-image {
    /* height: 30%; */
    position: absolute;
    right: 0;
    bottom: 0;
    width: 70%;
    /* background-color: blue; */
    display: flex;
    justify-content: flex-end;
    align-items: bottom;
    z-index: 0;
    background-image: radial-gradient( rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.5) 50%,rgba(0,0,0, 0) 90%,rgba(0,0,0, 0) 100%);    
}

.hero-image img {
    width: 100%;
    filter: blur(1px);
    animation: load-hero-image cubic-bezier(0.165, 0.84, 0.44, 1) 2.5s;
}

@keyframes load-header {
    0% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0px)
    }
}

@keyframes load-hero-text {
    0% {
        opacity: 0%;
        text-shadow: 0 0 0px var(--light-green);
        transform: translateY(-70px);
    }

    100% {
        text-shadow: 0 0 7px var(--light-green);
        transform: translateY(0px);
    }
}

@keyframes load-hero-image {
    0% {
        opacity: 0%;
        transform: translateY(70px);
    }

    100% {
        transform: translateY(0px);
    }
}

::-webkit-scrollbar {
    width: 7px;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    width: 7px;
    border-radius: 5px; 
}

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
:root {
    --light-green: #06bd5b;
    --background-color: #0c0917;
    --primary-color: #04944c;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


h1 {
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

body {
    font-family: "Fredoka", sans-serif;
    min-height: 100vh;
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: repeating-radial-gradient(75% 75% at 50% 50%, rgb(0, 0, 0) 0%, rgb(8, 4, 29) 100%);
    /* background-color: var(--light-green) !important; */
}

.auth-background {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-container {
    box-shadow: rgba(8, 255, 41, 0.24) 6px 6px 500px;
    height: 500px;
    width: 800px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    animation: fadein cubic-bezier(0.165, 0.84, 0.44, 1) 2.5s;
    background-color: transparent;
}

.auth-form {
    background-color: #232125;
    color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 100%;
    width: 55%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.auth-form .input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}

.input-group input {
    outline: none;
    border: 1px solid white;
    background: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-family: "Fredoka", sans-serif;
    font-weight: lighter;
    font-size: 1em;
}

.auth-form button {
    width: 70%;
    padding: 10px;
    font-size: 1em;
    font-family: "Fredoka", sans-serif;
    background: none;
    outline: none;
    border: none;
    background-color: var(--light-green);
    border-radius: 5px;
    color: black;
    cursor: pointer;
}

.auth-form button:hover {
    background-color: var(--primary-color);
    transition: all 0.5s;
}

.auth-right {
    width: 45%;
    background-color: var(--light-green);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.auth-right h1{
    font-size: 2.5em;
    margin-bottom: 10px;
}

.auth-right h4 {
    font-weight: 300;
    font-size: 1.1em;
    margin-bottom: 5px;
}

.auth-right button {
    width: 30%;
    padding: 10px;
    font-size: 1em;
    font-family: "Fredoka", sans-serif;
    background: none;
    outline: none;
    border: 1px solid black;
    background-color: var(--light-green);
    border-radius: 5px;
    color: black;
    cursor: pointer;
}

.auth-form h1 {
    font-family: "Fredoka", sans-serif;
    font-weight: 300;


}

@keyframes fadein {
    0% {
        opacity: 0;
    }
}

::-webkit-scrollbar {
    width: 7px;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    width: 7px;
    border-radius: 5px; 
}

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
:root {
    --light-green: #06bd5b;
    --background-color: #0c0917;
    --primary-color: #04944c;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

body {
    font-family: "Fredoka", sans-serif;
    min-height: 100vh;
    background-size: 100% 100%;
    background-position: 0px 0px;
    background-image: repeating-radial-gradient(75% 75% at 50% 50%, rgb(0, 0, 0) 0%, rgb(8, 4, 29) 100%);
}

.header-main {
    /* background-color: red; */
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    
    animation: load-header cubic-bezier(0.165, 0.84, 0.44, 1) 1s;
}

.nav-wrapper {
    height: 100%;
    width: 90%;
    max-width: 1300px;
    /* background-color: blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: flex-end;
    gap: 50px;
    
}

.nav-logo h1 {
    font-size: 2.5em;
    font-weight: 300;
    color: var(--light-green);
    /* text-shadow: 0 0 10px var(--light-green) */
    text-shadow: 0 0 4px var(--light-green);
}

.nav-left .nav-links-left {
    color: white;
    display: flex;
    gap: 20px;
}

.nav-links-left .nav-link {
    padding: 10px;
    border: 2px solid transparent
}

.nav-link a {
    font-size: 1.25em;
    font-weight: 100;

}

.nav-link:hover{
    border-bottom: 2px solid white;
    transition: all .5s;
}

.nav-logo:hover h1 {
    cursor: pointer;
    text-shadow: 0 0 10px var(--light-green);
    transition: all 0.5s;
}

.nav-right {
    display: flex;
    align-items: center;
    justify-content: center
}

.nav-right .nav-links-right {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center
}

.nav-login {
    background-color: var(--light-green);
    padding: 8px 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-login a {
    font-size: 1.25em;
    font-weight: 100;
}

.nav-login:hover{
    background-color: var(--light-green);
    transition: all 0.5s;
    cursor: pointer;
}


.dream-editor {
    background-color: var(--background-color);
    border-top: 1px solid var(--light-green);
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
}

.dream-editor-left {
    width: 75%;
    height: 100%;
    background-color: #1a1a1a;
}

.dream-editor-right {
    height: 100%;
    background-color: #252525;
    width: 25%;
    border-left: 1px solid var(--light-green);
}

.editor-bar {
    height: 50px;
    width: 100%;
    background-color: var(--light-green);
    padding: 10px;
    display: flex;
    align-items: center;
}

.editor-nav-icons {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-left: 25px;
    align-items: center;
}

.nav-icon {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    font-size: 1.4em;

}

.nav-icon:hover {
    cursor: pointer;
    color: white;
    transition: all 0.3s;
}


.nav-icon p {
    font-size: 0.8em;
    font-weight: 100;
}

.text-editor {
    height: calc(100% - 50px);
    padding: 20px;
}

.text-editor textarea {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
    font-size: 1.4em;
    color: white;
    font-family: "Fredoka", sans-serif;
    padding: 15px;
    border: 1px solid transparent
}


.dream-quiz {
    /* height: 50%;
    overflow-y: scroll;
    padding: 10px;
    color: white;    
    font-weight: 100;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-bottom: 1px solid var(--light-green); */
    overflow-x: hidden;
}
    

.dream-quiz h2 {
    margin-top: 90px;
}

.dream-quiz h2, .dream-insights h2 {
    font-weight: 100;
    font-size: 1.7em;
    text-align: center;
}

.dream-quiz .options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    overflow-x: hidden;
}

.dream-quiz .option {
    border: 1px solid var(--light-green);
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: 40px;
    border-radius: 10px;
    font-size: 0.9em;
    margin-bottom: 20px;
    text-align: center;
}

.next-question {
    width: 220px;
    text-align: center;
    border: 1px solid var(--light-green);
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.option:hover, .next-question:hover {
    cursor: pointer;
    background-color: var(--light-green);
    transition: all 0.5s;
}


.dream-quiz::-webkit-scrollbar {
    width: 0px;
    background-color: black;
}

.dream-insights {
    height: calc(100% - 50px);
    overflow-y: hidden;
    padding: 10px;
    color: white;    
    font-weight: 100;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.dream-insights::-webkit-scrollbar {
    width: 0px;
    background-color: black;
}

.dream-quiz {
    height: calc(100% - 50px);
        overflow-y: hidden;
    padding: 10px;
    color: white;    
    font-weight: 100;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
}

.dream-quiz h2, .dream-insights h2 {
    font-weight: 100;
    font-size: 1.7em;
    text-align: center;
}



@keyframes load-header {
    0% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0px)
    }
}

@keyframes load-hero-text {
    0% {
        opacity: 0%;
        text-shadow: 0 0 0px var(--light-green);
        transform: translateY(-70px);
    }

    100% {
        text-shadow: 0 0 7px var(--light-green);
        transform: translateY(0px);
    }
}

@keyframes load-hero-image {
    0% {
        opacity: 0%;
        transform: translateY(70px);
    }

    100% {
        transform: translateY(0px);
    }
}

::-webkit-scrollbar {
    width: 7px;
    background-color: black;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    width: 7px;
    border-radius: 5px; 
}

.dashboard-main {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
}

.dashboard-main h1 {
    font-size: 2.5em;
    font-family: "Fredoka", sans-serif;
    font-weight: 200;
    /* margin: 0px 50px; */
    text-align: center;
    
    
    animation: load-hero-text cubic-bezier(0.165, 0.84, 0.44, 1) 2.5s;
    padding: 10px;
}

.dashboard-main h1 span {
    font-weight: 500;
    color: var(--light-green);
    text-shadow: 0 0 7px var(--light-green);
}
.dashboard-main button {
    background-color: transparent;
    color: white;
    border: 1px solid var(--light-green);
    padding: 10px;
    border-radius: 10px;
    font-family: "fredoka", sans-serif;
    font-size: 1em;
    margin-bottom: 30px;
    cursor: pointer;
}

.dashboard-main button:hover {
    color: var(--light-green);
    transition: all 0.5s;
}

.analytics-section {
    height: 400px;
    width: 90%;
    max-width: 1200px;
    background-color: #15151f;
    border-radius: 15px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.saving {
    color: #333 !important;
    cursor: auto !important;
}

.date-picker-modal {
    background-color: black;
    position: absolute;
    top: 152px;
    left: 0;
}

.dream-tabs {
    height: 50px;
    background-color: var(--light-green);
    display: flex;
    width: 100%;
}

.dream-tabs div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    
}

.inner-tab {
    color: white;
    font-weight: 100;
    height: 100%;
    width: 100%;
}

.inner-tab.selected {
    background-color: #252525;
}

.options.text-in {
    display: flex;
    justify-content: center;
    align-items: center;
}

.options input {
    justify-self: center;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid var(--light-green);
    outline: none;
    font-family: "Fredoka", sans-serif;
    font-size: 0.8em;
    font-weight: 100;
    color: white;
    width: 90px;
    background-color: transparent;
    margin-bottom: 20px;
}

.FADE-OUT {
    animation: f-OUT 1s;
}

.FADE-IN {
    animation: f-IN 1s ;
}

@keyframes f-OUT {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@keyframes f-IN {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.green-bg {
    background-color: var(--light-green) !important;


}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid var(--light-green); /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.insight-content {
    text-align: center
}

.story-modal-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}


.story-modal {
    z-index: 6;
    width: 450px;
    height: 400px;
    background-color: #2d2d2d;
    box-shadow: rgba(8, 255, 41, 0.24) 6px 6px 300px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 15px;
    align-items: center;
    gap: 10px;
    position: relative;
}

.story-modal h2 {
    font-weight: 100;
    color: white;
    font-size: 1.6em;
}

.story-modal button {
    background-color: transparent;
    color: white;
    font-weight: 100;
    font-size: 0.8em;
}

.story-modal .regenerate {
    background-color: transparent;
    color: white;
    font-weight: 100;
    font-size: 0.8em;
    position: absolute;
    top: 15px;
    left: 15px;
    border: none;
    width: 25px;
}

.story-title {
    width: 100%;
    outline: none;
    border: 1px solid var(--light-green);
    background-color: transparent;
    font-family: "Fredoka", sans-serif;
    font-size: 1em;
    padding: 5px;
    border-radius: 5px;
    resize: none;
    color: white;
    font-weight: 100;
}

.story-content {
    flex: 1;
    width: 100%;
    outline: none;
    border: 1px solid var(--light-green);
    background-color: transparent;
    font-family: "Fredoka", sans-serif;
    font-size: 1em;
    padding: 5px;
    border-radius: 5px;
    resize: none;
    color: white;
    font-weight: 100;
}

.close {
    color: white;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.story-submit {
    outline: none;
    border: 1px solid var(--light-green);
    background-color: transparent;
    font-family: "Fredoka", sans-serif;
    font-size: 1em;
    padding: 5px;
    border-radius: 5px;
    resize: none;
    color: white;
    font-weight: 400;
    width: 100%;
    background-color: var(--light-green) !important;
    cursor: pointer;
}

.stories-wrapper {
    background-color: transparent;
    height: calc(100vh - 100px);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stories-container {
    height: 100%;
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.story-card {
    border: 1px solid var(--light-green);
    height: 200px;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.story-card:hover {
    background-color: var(--primary-color);
    transition: all 0.5s;
}

.story-card h3 {
    font-weight: 100;
    font-size: 1.4em;
    margin-bottom: 10px;
    text-align: center;
}

.story-card h4 {
    font-weight: 100;
    
}

.story-card p {
    font-size: 0.9em;
}


.story-page-modal-wrapper {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 20px;
    padding: 50px;
    color: white;
    overflow-x: hidden;
    /* animation: fadein cubic-bezier(0.165, 0.84, 0.44, 1) 1s; */
}

.story-page-modal-wrapper h1 {
    font-size: 3em;
    color: var(--light-green)
}

.story-page-modal-title {
    font-weight: 100;
    font-size: 1.2em;
}

.story-page-modal-content {
    font-size: 2em;
    width: 90%;
}

.story-page-modal-second {
    font-size: 1.8em;
    font-weight: 200;
    margin-top: 30px;   
}

.story-page-modal-dream {
    font-size: 1.6em;
    width: 90%;
    font-weight: 200;
}

.close-modal-wrapper {
    position: absolute;
    top: 25px;
    cursor: pointer;
    right: 25px;
}